$btn-color:$base-accent-color;
$btn-alt-color:$base-color;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:after {
    content: '';
  }
}

.btn {
  @extend %button;
  @include transition(background 0.8s linear);
  background: $darkest-blue;
background: -moz-linear-gradient(top, #09559f 0%, #074786 100%);
background: -webkit-linear-gradient(top, #09559f 0%,#074786 100%);
background: linear-gradient(to bottom, #09559f 0%,#074786 100%);

  &:hover {
    background: $red;
background: -moz-linear-gradient(top, #a22433 0%, #c60000 2%, #a70000 98%, #9b313e 100%);
background: -webkit-linear-gradient(top, #a22433 0%,#c60000 2%,#a70000 98%,#9b313e 100%);
background: linear-gradient(to bottom, #a22433 0%,#c60000 2%,#a70000 98%,#9b313e 100%);
&:after {
    background-color: darken($red, 10);
  }
  }
  &:after {
     background-color: darken($darkest-blue, 10);

  }
}

.btn-alt {
  @extend %button;
  @include transition(background 0.8s linear);
  background: $red;
background: -moz-linear-gradient(top, #a22433 0%, #c60000 2%, #a70000 98%, #9b313e 100%);
background: -webkit-linear-gradient(top, #a22433 0%,#c60000 2%,#a70000 98%,#9b313e 100%);
background: linear-gradient(to bottom, #a22433 0%,#c60000 2%,#a70000 98%,#9b313e 100%);

  &:hover {
    background: $darkest-blue;
background: -moz-linear-gradient(top, #09559f 0%, #074786 100%);
background: -webkit-linear-gradient(top, #09559f 0%,#074786 100%);
background: linear-gradient(to bottom, #09559f 0%,#074786 100%);
 &:after {
    background-color: darken($darkest-blue, 10);
  }
  }
  &:after {
    background-color: darken($red, 10);
  }
}

button,
input[type="submit"] {
  @extend .btn;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-right: 4em;
  &:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-arrow {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}

.btn-alt-arrow {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}
