.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  
 
}


/*=============== Site Header ===============*/

.site-header-wrap {
  /*background-image:url(img/bg-site-intro.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat:no-repeat;*/
}

.site-header {
  > .inner-wrap {
    padding-top: em(17);
    padding-bottom: em(10);
  }
  @include mq(medium) {
    > .inner-wrap {
      padding-top: em(12);
      padding-bottom: em(3);
    }
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(25);
      padding-bottom: em(15);
    }
  }
}

.sh-sticky-wrap {
  
  @include mq(large) {
    border-top: 1px solid $light-gray;
    height: $nav-height;
    &.stuck {
      .site-nav-container {
        -webkit-box-shadow: 0 3px 5px 0 $light-gray;
        -moz-box-shadow: 0 3px 5px 0 $light-gray;
        box-shadow: 0 3px 5px 0 $light-gray;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }
  @include mq(xlarge) {}
}

.site-logo {
  max-width: em(187);
  width: 65%;
  display: inline-block;
  vertical-align: top;
  @include mq(medium) {
    max-width: em(388);
    width: 66%;
  }
  @include mq(large) {
    max-width: em(507);
    width: 43%;
  }
}

.sh-utility-nav {
  overflow: hidden;
  float: right;
  @include mq(medium) {
    padding-top: em(30);
  }
  @include mq(large) {
    text-align: right;
    display: inline-block;
    color: $black;
    padding-top: em(23);
    padding-right: 0;
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  display: none;
  @include mq(large) {
    display: inline-block;
    color: $blue;
    font-size: em(22);
    margin: em(2, 22) em(62, 22) 0 0;
    padding-left: em(38, 22);
    margin-top: em(2, 22);
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    &:before {
      content: "";
      position: absolute;
      background-image: url(img/ico-ph.png);
      background-repeat: no-repeat;
      background-position: left center;
      width: em(18, 22);
      height: em(18, 22);
      left: 0;
      top: em(9, 22);
    }
    &:hover {
      &:before {
        background-image: url(img/ico-ph-hover.png);
      }
    }
  }
}

.sh-rfq {
  display: none;
  @include mq(large) {
    display: inline-block;
    font-size: em(19);
    border-radius: 5px;
    font-weight: 500;
    max-width: em(233, 19);
    padding: em(20, 19) em(56, 19) em(21, 19) em(51, 19);
  }
}

.sh-ico-search {
  background-image: url(img/ico-search-mobile.png);
  @extend %sh-ico;
  width: em(29);
  height: em(31);
  vertical-align: middle;
  @include mq(medium) {
    background-size: em(27);
  }
  @include mq(large) {
    display: none;
  }
}

.sh-ico-menu {
  background-image: url(img/ico-nav.png);
  @extend %sh-ico;
  width: em(36);
  height: em(28);
  vertical-align: middle;
  span {
    display: none;
  }
  @include mq(medium) {
    background-size: em(34);
  }
  @include mq(large) {
    display: none;
  }
}


/*=============== Site Intro ===============*/

.site-intro {
  background-image: url(img/img-hero-no-keys.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  .inner-wrap {
    padding-top: em(60);
    padding-bottom: em(60);
  }
  @include mq(medium) {}
  @include mq(large) {
    text-align: left;
    overflow: hidden;
    width: 100%;
    .inner-wrap {
      padding-top: em(118);
      padding-bottom: em(104);
      position: relative;
      z-index: 1;
    }
  }
}

.si-header {
  font-size: $large-font-size;
  line-height: em(35, 25);
  color: white;
  font-weight: 700;
  span {
    font-size: em(16, 25);
    display: block;
  }
  @include mq(medium) {
    font-size: em(40);
    line-height: em(50, 44);
    span {
      font-size: em(22, 40);
      text-transform: uppercase;
    }
  }
  @include mq(large) {
    font-size: $display-font-size;
    line-height: em(55, 44);
    margin-bottom: em(59, 44);
    span {
      font-size: em(25, 44);
      line-height: em(50, 25);
    }
  }
}

.si-cta-1 {
  font-size: em(19);
  font-family: $navigation-font-family;
  font-weight: 400;
  border-radius: 5px;
  @include mq(large) {
    max-width: em(233, 19);
    width: 26%;
    padding: em(20, 19) em(21, 19) em(21, 19) em(29, 19);
    margin-left: em(3, 19);
  }
}

.si-visuals {
  display: none;
  @include mq(large) {
    position: absolute;
    right: 0;
    top: em(100);
    display: block;
    max-width: em(580);
    width: 44%;
    z-index: 0;
  }
  @include mq(xlarge) {
    top: em(36);
    max-width: em(755);
    width: 54%;
  }
}

.page-intro {
  background-image: url(img/img-amflag-hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
> .inner-wrap{
  padding-top: em(40);
  padding-bottom: em(40);
}
@include mq(medium) {
> .inner-wrap{
  padding-top: em(85);
  padding-bottom: em(78);
}
}
}

.pi-header{
  font-size: $large-font-size;
  font-family: $header-font-family;
  font-weight: 400;
  color: white;
  @include mq(large) {
    font-size: em(52);
    padding-left: em(25,52);
  }
}


/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  //@include flex(1 0 auto); //sticky footer
  > .inner-wrap{
    &:first-child{
    padding-top: em(40);
    padding-bottom: em(40);
  }
  }
  @include mq(large) {
    > .inner-wrap{
      &:first-child{
    padding-top: em(92);
    padding-bottom: em(90);
  }
  }
  }
}
.emph{
  font-size: em(23);
  font-family: $header-font-family;
  font-weight: 700;
  color: $dim-gray;
  line-height: en(27,23);
}
.site-content-primary {
  p{
    margin: 31px 0;
  }
  h2{
    margin-bottom: 24px;
  }
}

.site-content-secondary {}


/*=============== Site Footer ===============*/

.site-footer {
  background-color: $dark-black;
  color: $white;
  text-align: center;
  > .inner-wrap {
    padding-top: em(40);
    padding-bottom: em(40);
  }
  @include mq(medium) {
    text-align: left;
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(48);
      padding-bottom: em(34);
    }
  }
}

.sf-primary {
  @include mq(medium) {
    float: left;
    width: 50%;
    margin-right: 2%;
  }
  @include mq(large) {}
}

.sf-secondary {
  line-height: em(30);
  font-weight: 700;
  @include mq(medium) {
    float: right;
  }
  @include mq(large) {}
}

.footer-nav {
  li {
    display: block;
    padding-right: em(20);
    vertical-align: top;
    line-height: em(32);
  }
  a {
    color: white;
    font-size: em(17);
    font-weight: 900;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  @include mq(medium) {
    li {
      display: inline-block;
      line-height: em(24);
    }
  }
  @include mq(large) {
    li {
      padding-right: em(28);
    }
  }
  @include mq(xlarge) {
    li {
      padding-right: em(35);
    }
  }
}

.sf-address {
  font-size: em(17);
  line-height: em(27, 17);
  font-weight: 500;
}

.sf-nav {
  margin-bottom: em(30);
  @include mq(medium) {
    margin-bottom: em(5);
  }
  @include mq(large) {
    margin-bottom: em(22);
  }
}

.sf-ph {
  display: inline-block;
  color: white;
  font-size: em(17);
  position: relative;
  vertical-align: top;
  padding-left: em(30, 17);
  &:before {
    content: "";
    position: absolute;
    background-image: url(img/ico-ph-white.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: em(19, 17);
    width: em(19, 17);
    height: 100%;
    left: 0;
    top: 0;
  }
  > a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.sf-email {
  display: inline-block;
  color: white;
  font-size: em(17);
  position: relative;
  padding-left: em(30, 17);
  vertical-align: top;
  margin-right: em(10);
  &:before {
    content: "";
    position: absolute;
    background-image: url(img/ico-email.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: em(19, 17);
    width: em(19, 17);
    height: 100%;
    left: 0;
    top: em(3, 17);
  }
  &:hover {
    text-decoration: underline;
    color: white;
  }
  @include mq(medium) {
    margin-right: 0;
    display: block;
    margin-bottom: em(5, 17);
  }
  @include mq(medium) {
    margin-bottom: em(15, 17);
  }
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}


/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}

@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}

.sn-search-wrap {
  display: none;
  @include mq(large) {
    display: block;
    max-width: em(305);
    width: 26%;
    position: relative;
    float: right;
    height: $nav-height;
    text-align: center;
    padding-left: em(80);
    &:before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: left center;
      background-color: $light-gray;
      width: em(1);
      height: em(56);
      left: 0;
      top: em(9);
      bottom: em(9);
    }
  }
}

.sn-ico-search {
  @include mq(large) {
    font-family: $navigation-font-family;
    font-weight: 700;
    font-size: em(20);
    color: $gray;
    height: em(73, 20);
    line-height: em(73, 20);
    position: relative;
    padding-right: em(50, 20);
    &:after {
      content: "";
      position: absolute;
      background-image: url(img/ico-search.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: em(21, 20);
      width: em(21, 20);
      height: 100%;
      right: 0;
      top: 0;
    }
  }
}


/* ==== machines section ==== */

.machines-section {
  text-align: center;
  > .inner-wrap {
    padding-top: em(40);
    padding-bottom: em(40)
  }
  @include mq(medium) {}
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(58);
      padding-bottom: em(51)
    }
  }
}

.ms-item {
  position: relative;
  margin-bottom: em(20);
  overflow: hidden;
  max-width: em(288);
  width: 100%;
  display: inline-block;
  vertical-align: top;
  &:hover {
    .ms-item-title {
      padding: em(35, 18) em(20, 18);
      span{
        &:after {
      content: "";
    }
      }
    }
  }
  @include mq(medium) {
    width: 33.33%;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 100%;
    display: block;
    margin-bottom: em(3);
    &:before {
      content: "";
      position: absolute;
      background-color: white;
      width: em(3);
      height: 100%;
      right: 0;
      top: 0;
    }
    &:nth-child(3n) {
      &:before {
        content: none;
      }
      .ms-item-title {
        border-right: 0;
      }
    }
    &:hover {
      .ms-item-title {
        padding: em(20, 15) em(10, 15);
      }
    }
  }
  @include mq(large) {
    &:hover {
      .ms-item-title {
        padding: em(43, 18) em(5, 18) em(41, 18) em(30, 18);
      }
    }
  }
}

.ms-item-visuals {
  img {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}

.ms-header {
  font-size: $large-font-size;
  line-height: em(27, 25);
  color: $dark-black;
  text-align: center;
  font-weight: 600;
  margin-bottom: em(25, 25);
  @include mq(medium) {
    font-size: $xlarge-font-size;
    line-height: em(36, 35);
  }
  @include mq(large) {
    margin-bottom: em(54, 35);
  }
}

.machines-wrap {
  margin-bottom: em(20);
  @include mq(large) {
    padding-left: em(37);
    padding-right: em(37);
    margin-bottom: em(44);
  }
}

.ms-item-title {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: em(25, 18);
  color: white;
  text-align: left;
  position: absolute;
  bottom: 0;
  background-color: rgba(9, 87, 164, 0.79);
  display: block;
  width: 100%;
  margin: 0;
  padding: em(20, 18);
  @include transition (all .25s ease-in-out);
  span {
    position: relative;
    padding-right: em(47, 18);
    @include transition (all .25s ease-in-out);
    &:after {
      content: none;
      position: absolute;
      background-image: url(img/machine-arrow.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: em(24, 18);
      width: em(24, 18);
      height: 100%;
      right: 0;
    }
  }
  @include mq(medium) {
    font-size: em(15);
    padding: em(10, 15);
    border-right: 3px solid white;
    span {
      padding-right: em(25, 15);
    }
  }
  @include mq(large) {
    font-size: $base-font-size;
    padding: em(13, 18) em(5, 18) em(13, 18) em(30, 18);
    span {
      padding-right: em(47, 18);
    }
  }
}

.ms-cta {
  display: block;
  text-align: center;
  > a {
    font-size: em(19);
    font-weight: 500;
    max-width: em(194, 19);
    width: 68%;
    border-radius: em(5, 19);
  }
  @include mq(large) {
    > a {
      padding: em(19, 19) em(15, 19) em(21, 19) em(15, 19);
    }
  }
}


/* ==== contact section ==== */

.contact-us-section {
  background-color: $alice-blue;
  text-align: center;
  > .inner-wrap {
    padding-top: em(40);
    padding-bottom: em(40)
  }
  @include mq(medium) {}
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(77);
      padding-bottom: em(113)
    }
  }
}

.cus-header {
  @extend .ms-header;
  margin-bottom: em(35, 25);
  @include mq(large) {
    margin-bottom: em(59, 35);
    line-height: em(37, 35);
  }
}

.cus-cta-wrap {}

.cus-rfq {
  font-size: $base-font-size;
  background-color: transparent;
  color: $blue;
  background: transparent;
  border: 1px solid $blue;
  border-radius: 5px;
  max-width: em(310, 18);
  width: 70%;
  margin-bottom: em(10, 18);
  font-weight: 400;
  &:hover {
    border: 1px solid $red;
  }
  @include mq(large) {
    max-width: em(312, 18);
    width: 34%;
    padding: em(21, 18) em(15, 18) em(19, 18) em(12, 18);
    margin-bottom: 0;
  }
}

.cus-or {
  display: none;
  @include mq(large) {
    font-size: em(20);
    color: $medium-gray;
    padding: 0 em(69, 20);
    margin: 0 em(49, 20);
    position: relative;
    display: inline-block;
    font-weight: 900;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $blue;
      width: em(29, 20);
      height: em(1, 20);
      top: em(14, 20);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.cus-contact {
  font-size: $base-font-size;
  border-radius: 5px;
  max-width: em(310, 18);
  width: 70%;
  font-weight: 400;
  border: 1px solid $blue;
  &:hover {
    border: 1px solid $red;
  }
  @include mq(large) {
    max-width: em(332, 18);
    width: 36%;
    padding: em(21, 18) em(15, 18) em(19, 18) em(15, 18);
  }
}


/* ==== about us section ==== */

.about-us-section {
  background-image: url(img/img-am-flag-for-parallax.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  > .inner-wrap {
    padding-top: em(40);
    padding-bottom: em(40)
  }
  @include mq(medium) {}
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(89);
      padding-bottom: em(102)
    }
  }
}

.aus-header {
  font-size: $large-font-size;
  line-height: em(27, 25);
  font-weight: 600;
  color: white;
  @include mq(medium) {
    font-size: $xlarge-font-size;
    line-height: em(37, 35);
  }
  @include mq(large) {
    margin-bottom: em(24, 35);
  }
}

.aus-text {
  font-size: $base-font-size;
  line-height: em(30, 18);
  font-family: $navigation-font-family;
  font-weight: 400;
  @include mq(medium) {
    font-size: $medium-font-size;
    line-height: em(35, 21);
  }
  @include mq(large) {
    line-height: em(28, 21);
  }
}


/* ==== dest page  ===== */
.dest-img{
  img{
  max-width: em(277);
  width: 100%;
}
}