// Typography
$base-font-family: 'Roboto', sans-serif;
$header-font-family: 'Open Sans', sans-serif;
$navigation-font-family: 'Lato', sans-serif;

// Font Sizes
$small-font-size: em(14);
$base-font-size: em(18); 
$medium-font-size: em(21);
$large-font-size: em(25);
$xlarge-font-size: em(35);
$display-font-size: em(44);



// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:#ffffff;
$black:#000000;
$dark-black:#27292c;
$medium-black:#171f29;
$blue: #0957a4;
$medium-blue:#0d5cab;
$dark-blue:#0957a4;
$alice-blue:#f2f6f8;
$darkest-blue:#09559f;
$green:#00ad49;
$gray:#2f2f2f;
$dark-gray: #27292c;
$medium-gray: #848484;
$light-gray: #d7d7d7;
$dim-gray:#747474;
$suva-gray:#8e8e8e;
$silver:#c6c6c6;
$red:#a22433;


// Base Colors
$base-color:$medium-blue;
$base-accent-color:$blue;
$base-font-color: $medium-black;
$base-background-color: white;


// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $red;

// Border color
$base-border-color: $silver;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// Navigation Default/Desktop
$nav-font-size:em(20);
$nav-height:em(73);
$nav-background:white;
$nav-text-color:$gray;
$nav-text-color-hover:$gray;
$nav-hover:$nav-background;
$nav-border:none;
$nav-spacing:$baseline*4.75;
$nav-subnav-font-size:em(18);
$nav-subnav-height:em(50);
$nav-subnav-background:$alice-blue;
$nav-subnav-border:1px solid $dark-black;
$nav-subnav-hover:darken($nav-subnav-background, 10%);

// Navigation Medium/Tablet
$nav-font-size-medium:$nav-font-size;
$nav-height-medium:$nav-height;
$nav-background-medium:$nav-background;
$nav-text-color-medium:$nav-text-color;
$nav-text-color-hover-medium:$nav-text-color-hover;
$nav-hover-medium:$nav-hover;
$nav-border-medium:$nav-border;
$nav-spacing-medium:$nav-spacing;
$nav-subnav-font-size-medium:$nav-subnav-font-size;
$nav-subnav-height-medium:$nav-subnav-height;
$nav-subnav-background-medium:$nav-subnav-background;
$nav-subnav-border-medium:$nav-subnav-border;
$nav-subnav-hover-medium:$nav-subnav-hover;

// Navigation Small/Mobile
$nav-font-size-mobile:$base-font-size;
$nav-height-mobile:em(50); 
$nav-width-mobile:17em;
$nav-background-mobile:$nav-background;
$nav-text-color-mobile:$nav-text-color;
$nav-text-color-hover-mobile:$nav-text-color-hover;
$nav-hover-mobile:$nav-hover;
$nav-border-mobile:$nav-border;
$nav-spacing-mobile:0;
$nav-subnav-font-size-mobile:em(17);
$nav-subnav-height-mobile:$nav-subnav-height;
$nav-subnav-background-mobile:$nav-subnav-background;
$nav-subnav-border-mobile:$nav-subnav-border;
$nav-subnav-hover-mobile:$nav-subnav-hover;